---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
const { blog_folder } = config.settings;

const { post, className } = Astro.props;
const { id, slug, body, data, collection } = post;
---

<div class={className}>
  <div class="rounded border border-border p-6 lg:p-9">
    <ul class="flex items-center space-x-4">
      {
        data.categories.map((category: any) => (
          <li>
            <a
              class="text-primary"
              href={`/categories/${category.toLowerCase()}`}
            >
              {category}
            </a>
          </li>
        ))
      }
    </ul>
    <p class="my-4">{dateFormat(data.date)}</p>
    <h2 class="h3 mb-2 font-normal">
      <a href={`/${blog_folder}/${post.slug}`} class="block">
        {data.title}
      </a>
    </h2>
    <a
      class="btn-link mt-7 inline-flex items-center hover:text-primary"
      href={`/${blog_folder}/${slug}`}
    >
      Continue Reading
      <svg
        class="ml-1"
        width="22"
        height="11"
        viewBox="0 0 16 8"
        fill="currentcolor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.3536 4.35355c.1952-.19526.1952-.51184.0-.7071L12.1716.464467C11.9763.269205 11.6597.269205 11.4645.464467c-.1953.195262-.1953.511845.0.707103L14.2929 4 11.4645 6.82843c-.1953.19526-.1953.51184.0.7071C11.6597 7.7308 11.9763 7.7308 12.1716 7.53553l3.182-3.18198zM-.437114e-7 4.5H15v-1H.437114e-7l-.874228e-7 1z"
        ></path>
      </svg>
    </a>
  </div>
</div>
