---
import Disqus from "@/helpers/Disqus";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
import ImageMod from "./components/ImageMod.astro";
import config from "@/config/config.json";
import similarItems from "@/lib/utils/similarItems";
import Post from "./components/Post.astro";
import readingTime from "@/lib/utils/readingTime";

const COLLECTION_FOLDER = "posts";
const { post } = Astro.props;

const posts = await getSinglePage(COLLECTION_FOLDER);
const similarPosts = similarItems(post, posts);
const { Content } = await post.render();
const { title, description, author, categories, image, date, tags } = post.data;
---

<section class="pt-20 pb-6">
  <div class="container">
    <div class="row">
      <div class="mx-auto lg:col-10">
        <a
          class="mb-12 inline-flex items-center text-primary hover:underline"
          href="/"
        >
          <svg
            class="mr-2"
            width="21"
            height="16"
            viewBox="0 0 21 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M.292892 7.29289c-.3905235.39053-.3905235 1.02369.0 1.41422L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711 8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8 8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107.928932 7.68054.538408 7.04738.538408 6.65685.928932L.292892 7.29289zM21 7H1V9H21V7z"
              fill="currentcolor"></path>
          </svg>
          Back to Home
        </a>
        <article>
          {
            image && (
              <ImageMod
                class="w-full"
                src={image}
                height={500}
                width={1000}
                alt={title}
              />
            )
          }
          <h1 set:html={markdownify(title)} class="h2 mt-12" />
          <ul class="mt-4 mb-8 text-text">
            <li class="mb-2 mr-4 inline-block">
              <ul>
                {
                  categories.map((category: any) => (
                    <li class="inline-block">
                      <a
                        href={`/categories/${slugify(category)}`}
                        class="mr-3 text-primary"
                      >
                        {humanize(category)}
                      </a>
                    </li>
                  ))
                }
                |
              </ul>
            </li>
            <li class="mb-2 mr-4 inline-block">
              <span class="mr-2 inline-block">
                {dateFormat(date)}
              </span>{" "}
              |
            </li>
            <li class="mb-2 mr-4 inline-block">
              {readingTime(post.body)}
            </li>
          </ul>
          <div class="content text-left">
            <Content />
          </div>
        </article>

        {config.disqus.enable && <Disqus className="mt-20" client:load />}
      </div>
    </div>

    <div class="pt-12">
      <h2 class="h2 text-center">Related Posts</h2>
      <div class="row mt-12 justify-center">
        {
          similarPosts.map((post) => (
            <Post className="col-12 mb-6 md:col-4" post={post} />
          ))
        }
      </div>
    </div>
  </div>
</section>
